@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width = device-width" , initial-scale="1.0" />
    <title>Home</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Patty's Pages</h1>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="CheckoutWholesale">Wholesale Order</a>
        <a class="btn btn-primary" asp-action="CheckoutDirect">Direct Order</a>
    </div>

</body>
</html>